# This is Assignment 06 - Steven Haynes

## Requirement 4

In [1]:
# Create a list of 20 arbitrary numbers 0:99
list_1 = [0, 2, 5, 6, 7, 18, 57, 65, 52, 13, 34, 25, 39, 64, 8, 99, 25, 18, 49, 76]

# Print the list length
print(len(list_1))
print("")

# Append 3 numbers into the list
list_1.append(4)
list_1.append(8)
list_1.append(9)
print(list_1)
print("")

# Use the + to append a literal list of 7 numbers to the list.
list_1 = list_1 + [71, 11, 13, 14, 25, 89, 91]
print(list_1)
print("")

# Sort the list
list_1.sort()
print(list_1)

20

[0, 2, 5, 6, 7, 18, 57, 65, 52, 13, 34, 25, 39, 64, 8, 99, 25, 18, 49, 76, 4, 8, 9]

[0, 2, 5, 6, 7, 18, 57, 65, 52, 13, 34, 25, 39, 64, 8, 99, 25, 18, 49, 76, 4, 8, 9, 71, 11, 13, 14, 25, 89, 91]

[0, 2, 4, 5, 6, 7, 8, 8, 9, 11, 13, 13, 14, 18, 18, 25, 25, 25, 34, 39, 49, 52, 57, 64, 65, 71, 76, 89, 91, 99]

## Requirement 5

In [2]:
# Show the 4th element in list_1
print(list_1[3])

# Show the 15th element in the list
print(list_1[14])

# Show the 3rd from tne end
print(list_1[-3])

# Show the 7th from the end
print(list_1[-7])

# The first 4 elements
print(list_1[0:4])

# The last 5 elements
print(list_1[-5:])

# list_1 reversed
print(list_1[::-1])

# Set the 14th element to -99
list_1[13] = -99
print(list_1)

# Alternating elements in the list
print(list_1[::2])

# Set elements 9-15 to -77
list_1[8:14] = [-77, -77, -77, -77, -77, -77, -77]
print(list_1)

5
18
89
64
[0, 2, 4, 5]
[71, 76, 89, 91, 99]
[99, 91, 89, 76, 71, 65, 64, 57, 52, 49, 39, 34, 25, 25, 25, 18, 18, 14, 13, 13, 11, 9, 8, 8, 7, 6, 5, 4, 2, 0]
[0, 2, 4, 5, 6, 7, 8, 8, 9, 11, 13, 13, 14, -99, 18, 25, 25, 25, 34, 39, 49, 52, 57, 64, 65, 71, 76, 89, 91, 99]
[0, 4, 6, 8, 9, 13, 14, 18, 25, 34, 49, 57, 65, 76, 91]
[0, 2, 4, 5, 6, 7, 8, 8, -77, -77, -77, -77, -77, -77, -77, 18, 25, 25, 25, 34, 39, 49, 52, 57, 64, 65, 71, 76, 89, 91, 99]

## Requirement 6

In [3]:
# Create a tuple named tuple_1 with 7 arbitrary numbers
tuple_1 = (1, 2, 0, 5, 6, 8, 9)

# Attempt to set the 3rd value to -33
tuple_1(2) = (-33)

# Attempt to append the value -22 to the tuple.
tuple_1.append(-22)

SyntaxError: cannot assign to function call (338151574.py, line 5)

## Requirement 7

In [4]:
# Create a dictionary populated with 9+ player positions and names as key::value pairs.

players_soccer = {"GK": "Stuver", "RB": "Lima", "CB1": "Cascante", "CB2": "Gabrielsen", "LB": "Kolmanic",
                  "DMF1": "Ring", "DMF2": "Pereira", "MF1": "Fagundez", "CM": "Druisi", "MF2": "Dominguez"}
print(players_soccer)

# Change a key::value pair
players_soccer["DMF2"] = "Wolff"
print(players_soccer)

# Add a new key::value pair
players_soccer["FWD"] = "Urruiti"
print(players_soccer)

{'GK': 'Stuver', 'RB': 'Lima', 'CB1': 'Cascante', 'CB2': 'Gabrielsen', 'LB': 'Kolmanic', 'DMF1': 'Ring', 'DMF2': 'Pereira', 'MF1': 'Fagundez', 'CM': 'Druisi', 'MF2': 'Dominguez'}
{'GK': 'Stuver', 'RB': 'Lima', 'CB1': 'Cascante', 'CB2': 'Gabrielsen', 'LB': 'Kolmanic', 'DMF1': 'Ring', 'DMF2': 'Wolff', 'MF1': 'Fagundez', 'CM': 'Druisi', 'MF2': 'Dominguez'}
{'GK': 'Stuver', 'RB': 'Lima', 'CB1': 'Cascante', 'CB2': 'Gabrielsen', 'LB': 'Kolmanic', 'DMF1': 'Ring', 'DMF2': 'Wolff', 'MF1': 'Fagundez', 'CM': 'Druisi', 'MF2': 'Dominguez', 'FWD': 'Urruiti'}

## Requirement 8

In [5]:
# Create two sets named hatfields and mccoys. Each set contains 10 names, some in common.
hatfields = {'Matthew', 'Simon', 'Luke', 'John', 'Peter', 'Thomas', 'Andrew', 'James', 'Philip', 'Judas'}
mccoys = {'Bartholomew', 'Judas', 'Simon', 'Mark', 'James', 'Athos', 'Porthos', 'Aramis', "D'Artagnan", 'Jesus'}

print(hatfields)
print(mccoys)
print("")

# Demonstrate set operations
print("This is a union: ", hatfields | mccoys)
print("This is an intersection: ", hatfields & mccoys)
print("This is the difference: ", hatfields - mccoys)
print("This is the symmetric difference: ", hatfields ^ mccoys)

{'Judas', 'Matthew', 'Andrew', 'James', 'Philip', 'Peter', 'Luke', 'John', 'Thomas', 'Simon'}
{'Athos', 'Judas', 'Mark', 'James', 'Bartholomew', 'Porthos', 'Aramis', 'Jesus', "D'Artagnan", 'Simon'}

This is a union:  {'Andrew', 'Bartholomew', 'James', 'Philip', 'Porthos', 'Peter', 'Luke', 'John', 'Thomas', "D'Artagnan", 'Athos', 'Judas', 'Matthew', 'Mark', 'Aramis', 'Jesus', 'Simon'}
This is an intersection:  {'James', 'Judas', 'Simon'}
This is the difference:  {'Matthew', 'Andrew', 'Philip', 'Peter', 'Luke', 'John', 'Thomas'}
This is the symmetric difference:  {'Athos', 'Matthew', 'Andrew', 'Mark', 'Bartholomew', 'Porthos', 'Aramis', 'Philip', 'Peter', 'Jesus', 'Luke', "D'Artagnan", 'John', 'Thomas'}

## Requirement 9

In [6]:
# Demonstrate the use of if,elif, and else using weather conditions.

weather = input("Enter 'hot' if it is hot, 'cold' if it is cold, and 'perfect' if it is perfect outside right now: ")
if weather == 'hot':
    print("Go inside!")
elif weather == 'cold':
    print("Wear a coat!")
else:
    print("Enjoy the day!")

Enter 'hot' if it is hot, 'cold' if it is cold, and 'perfect' if it is perfect outside right now: hot
Go inside!

## Requirement 10

In [7]:
# Demo a for loop using a range
for index in range(5):
    print(index)

# Demo a for loop using list contents
for index in list_1:
    print(index)

0
1
2
3
4
0
2
4
5
6
7
8
8
-77
-77
-77
-77
-77
-77
-77
18
25
25
25
34
39
49
52
57
64
65
71
76
89
91
99

## Requirement 11

In [10]:
# Demo the use of i=0 to 7 in a while loop (iterate 7 times)
i = 0
while i < 7:
    print(i)
    i += 1

print("")

# Demo the use of i=1 to 7 in a while loop (iterate 7 times)

i = 1
while i <= 7:
    print(i)
    i += 1

0
1
2
3
4
5
6

1
2
3
4
5
6
7

## Requirement 12

In [15]:
# Define and use a function named factorial() that returns the factorial of a
# number that is passed to it as an argument when called.

def main():
    # Call the factorial function
    print("The factorial is: ", factorial())


def factorial():
    # Set accumulator to zero
    total = 1
    # Get user input for N
    N = int(input("Enter a number:"))

    # For each number in the range 1 to N
    for i in range(total, N + 1):
        # Total = total * i
        total = i * total

    return total


main()

Enter a number:5
The factorial is:  120

## Requirement 13

In [16]:
# Define and use a function named vegetables() that takes numbers of
# vegetables as *args and names of vegetables as **kwargs
def main():

    # Provide the argument and keyword pair
    vegetables('beet', 'squash', red='root', yellow='root')


# Define vegetables function
def vegetables(*veg, **keys):
    print("arguments = ", veg)
    print("keywords = ", keys)


main()

arguments =  ('beet', 'squash')
keywords =  {'red': 'root', 'yellow': 'root'}

## Requirement 14

In [18]:
# Create a list named cars that contains three dictionaries each with three key::value pairs. The key::value pairs
# should represent three common attributes::values of automobiles

cars = [{'make': "Honda", 'model': "Civic", 'power': "gas"},
        {'make': "Tesla", 'model': "Model 3", 'power': "electric"},
        {'make': "Toyota", 'model': "Corolla", 'power': "gas"}]

# Pass the cars list to the sorted built-in function and use a lambda to sort the cars list
print("Sorted alphabetically by power type: ", sorted(cars, key=lambda item: item['power']))

print("")

# Sort again using a different key
print("Sorted alphabetically by model: ", sorted(cars, key=lambda item: item['model']))

Sorted alphabetically by power type:  [{'make': 'Tesla', 'model': 'Model 3', 'power': 'electric'}, {'make': 'Honda', 'model': 'Civic', 'power': 'gas'}, {'make': 'Toyota', 'model': 'Corolla', 'power': 'gas'}]

Sorted alphabetically by model:  [{'make': 'Honda', 'model': 'Civic', 'power': 'gas'}, {'make': 'Toyota', 'model': 'Corolla', 'power': 'gas'}, {'make': 'Tesla', 'model': 'Model 3', 'power': 'electric'}]

## Requirement 15

In [19]:
# Demonstrate the use of a try and except statement (must be different from online textbook versions)
import math

try:
    print(math.sqrt(-75))
except:
    print("That is complicated.")

That is complicated.

## Requirement 16

In [20]:
# Demonstrate the use of try, except, else, and finally statements (must be different from online textbook versions)

import math

try:
    print(math.sqrt(-75))

except:
    print("This is impossible!")

else:
    print("I can do that.")

finally:
    print("Math is hard!")

This is impossible!
Math is hard!

## Requirement 17

Iterator indirection allows us to iterate through batches of data as if it were contained in a list. An example would be we want the letters C:E out of the range A:Z. Indirect iteration just needs to find C, advance through D and E, and stop. Direct iteration would require populating A:Z, and then finding C:D within that population. Indirection saves computing power and time.

## Requirement 18

In [21]:
# Create a list of 10 animal species named animals_list and demonstrate the use of len() and iteration to print the
# index and values of the animals in the list.

animal_list = ['cheetah', 'camel', 'manatee', 'frog', 'porcupine', 'eel', 'swallow', 'elephant', 'cat', 'dog']

# Number of items in the list
print("Items in the list: ", len(animal_list))

# The index number plus associate item in the list
print("The list with index: ")

for i in range(len(animal_list)):
        print(i, animal_list[i])

Items in the list:  10
The list with index:
0 cheetah
1 camel
2 manatee
3 frog
4 porcupine
5 eel
6 swallow
7 elephant
8 cat
9 dog

## Requirement 19

In [22]:
# Use the enumerate iterator to perform the same actions as the previous requirement

# Iterate through each index and value
for i, val in enumerate(animal_list):
        print(i, val)

0 cheetah
1 camel
2 manatee
3 frog
4 porcupine
5 eel
6 swallow
7 elephant
8 cat
9 dog

## Requirement 20

In [23]:
# Create a list of 10 colors named colors_list. Use the zip iterator print the values of the animals_list and
# colors_list within the same for loop

colors_list = ['red', 'orange', 'yellow', 'green', 'blue', 'indigo', 'violet', 'purple', 'mauve', 'teal']

for lval, rval in zip(animal_list, colors_list):
        print(lval, rval)

cheetah red
camel orange
manatee yellow
frog green
porcupine blue
eel indigo
swallow violet
elephant purple
cat mauve
dog teal

## Requirement 21

In [24]:
# Create a lambda named times_ten that multiplies the variable x by 10. Use the map iterator and range(10) to evaluate
# the lambda in a for loop

# Lambda named times_ten that multiplies x by 10
times_ten = lambda x: x * 10

# Loop that uses map and range to iterate through times_ten
for val in map(times_ten, range(10)):
        print(val)

0
10
20
30
40
50
60
70
80
90

## Requirement 22

In [25]:
# Create a lambda named by_three that returns true if the variable x is evenly divisible by 3. Use the filter iterator
# and range(30) to evaluate the lambda in a for loop.0)))

# Lambda named by_three that returns true if x is divisible by 3.
by_three = lambda x: x % 3 == 0

# Return values in range(30) divisible by 3
for val in filter(by_three, range(30)):
    print(val)

0
3
6
9
12
15
18
21
24
27

## Requirement 23

I find the reason to use a lambda to be a little confusing. Why wouldn't I just use a regular function for continuity sake? I also struggled for a while with the factoring program. Trying to figure out the logic took me a little while, as I don't think like that by default. I did enjoy the simplicity of zip and enumerate, and think they would be useful for large amounts of data. I am interested in data analysis, and can see myself using zip and enumerate to combine and order data sets.